div{
	background: url('春夜喜雨背景图.png');
	/* background代表DIV里面的背景size: cover代表完全覆盖,并按原比例缩放 */
	background-size: cover;
	margin: 0auto;
	width: 320px;
	height: 320px;
	font-family: '隶书';
	text-align: center;
	position:relative;
}
h1{
	color: bisque;
	/* 设置H1 标题的文字颜色为肉色 */
}
h4{
	color: aqua;
	position: absolute;
}